{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block content %}
 <div class="ui segment">
		<div class="ui large steps" id="register-steps">
			  <div class="ui active step">
				Register
			  </div>
			  <div class="ui disabled step">
				Create Soc
			  </div>
			  <div class="ui disabled step">
				Add Members
			  </div>
			  <div class="ui disabled step">
				Complete
			  </div>
		</div>

						<div style="min-height:300px;" class="ui fluid form segment " id="register-form">
						<a href="{{path('register-fblogin')}}"><div class="ui facebook button hover " id="sign-in-with-facebook-button" ><i class="facebook icon"></i>Sign in with facebook</div></a>
						</div>
		
	</div>		
{% endblock %}


